@font-face {
  font-family: "js";
  src: url("./font/neutraface.otf");
}

body {
  color: #323330;
  font-family: js;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
div {
  background-color: #f7df1e;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

h1 {
  padding: 0;
  margin: -12px 10px;
  display: inline-block;
  font-size: 90px;
}

h2 {
  font-size: 32px;
  text-align: center;
}
